@media screen and (max-width:576px) {
    .team{
        margin-bottom: 35px;
    }
    
} 
 @media (max-width: 576px) {
    .list-item {
        list-style-type: none;
        padding-left: 0;
    }
}

